/*GLOBAL SELECTORS */

*{
    box-sizing:border-box;
}

nav ul{
    padding-left: 0px;
}


h1{   

    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 300;
    color: #4af9ff;
    margin:0 auto;
    text-align: center;
    text-transform: uppercase;

}
h2{
    margin: 0px 20px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color:#4af9ff;
    line-height: 40px;

}



h3{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    line-height: 50px;
    font-size: 28px;
    margin-left: 50px;
    margin-right: 50px;
}

h4{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
}

h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size:20px;
}


p{    
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size:16px;
}

/*END GLOBALS*/


/*MENU GLOBAL CREDIT TO CODEPEN USER vavik96*/

nav {
  max-width: FULL;
  /* The mask-image gives us some extra fading. It is not necessary but without this, you can't face out the box-shadows. This clips our menu */
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  /* Using padding instead of margin for the top and bottom here will keep our box-shadow visible and not affected by the mask-image */
  padding: 75px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
   
  margin-right:20px;
margin-left:20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:400;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(74, 249, 255, 0.4);
  color: rgba(0, 0, 0, 0.7);
}

/*my code*/
#selected {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(0, 255, 183, 0.3);
  color: rgba(0, 0, 0, 0.7);
}

#selected:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(74, 249, 255, 0.4);
  color: rgba(0, 0, 0, 0.7);
}

/*END MENU */









/*index.html styles*/


/*IMPORTANT NOTE TO SELF: THIS TARETS ALL DIVS SITE-WIDE MAKE SURE AND ADD CLASSES TO ALL DIVS WITHOUT*/
/*clouds animation credit to codepen user */
/*clouds background credit to codepen user */

.cloud {
  position: fixed;
  /*locked produces nice results as well try both*/
  top: 0px;
  width: 250px;
  height: 200px;
  background: -webkit-linear-gradient(#ffffff, #808080);
  background: -o-linear-gradient(#ffffff, #808080);
  background: -moz-linear-gradient(#ffffff, #808080);
  background: linear-gradient(#ffffff, #808080);
  border-radius: 100%;
  opacity: 0;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  z-index: -1;
}
.cloud::before,
.cloud::after {
  position: relative;
  width: 150px;
  height: 100px;
  content: " ";
  display: block;
  left: -80px;
  top: 100px;
  border-radius: 100%;
  background: -webkit-linear-gradient(#ffffff, #808080);
  background: -o-linear-gradient(#ffffff, #808080);
  background: -moz-linear-gradient(#ffffff, #808080);
  background: linear-gradient(#ffffff, #808080);
}
.cloud::after {
  left: 200px;
  height: 80px;
  top: -50px;
}
.cloud:nth-child(1) {
  animation: moving 31s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 31s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 175px;
  top: 20px;
}
.cloud:nth-child(2) {
  animation: moving 25s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 100px;
  top: 20px;
}
.cloud:nth-child(3) {
  animation: moving 28s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 28s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 150px;
  top: 130px;
}
.cloud:nth-child(4) {
  animation: moving 20s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 200px;
  top: 100px;
}
.cloud:nth-child(5) {
  animation: moving 27s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 27s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 125px;
  top: 50px;
}
.cloud:nth-child(6) {
  animation: moving 22s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 150px;
  top: 50px;
}
.cloud:nth-child(7) {
  animation: moving 28s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 28s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 225px;
  top: 75px;
}
.cloud:nth-child(8) {
  animation: moving 30s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 505px;
  top: 60px;
}
.cloud:nth-child(9) {
  animation: moving 25s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 375px;
  top: 140px;
}
.cloud:nth-child(10) {
  animation: moving 23s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 23s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 525px;
  top: 70px;
}
.cloud:nth-child(11) {
  animation: moving 22s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 22s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 375px;
  top: 50px;
}
.cloud:nth-child(12) {
  animation: moving 25s;
  animation-iteration-coint: infinite;
  animation-timing-function: linear;
  -webkit-animation: moving 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  left: 275px;
  top: 60px;
}
@-webkit-keyframes moving {
  0% {
    margin-left: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes moving {
  0% {
    margin-left: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    margin-left: 100%;
  }
}
/*END CLOUDS ANIMATION*/
/*my addition to the clouds -- pretty cool combo when its position is fixed i think not good here thought
.cloud:hover{
    display: none;
}*/




.indexbody,
.gallerybody{
  background: linear-gradient(#add8e6 60%, #ffffff);
}


.indexcontainer{
    border-radius: 174px;
    margin: 4.5% auto 1% auto; 
    width:60%;/*
    background:url(../img/white_wall.png);*/
    background:url(../img/retina_wood.png);
    z-index: 5;
}

.welcome{
    position: relative;
    padding-top: 50px;
    text-shadow:4px 2px 22.5px #000;
    transition-property: transform, color, letter-spacing;
    transition-duration: .25s;
    transition-timing-function: linear;
    letter-spacing: 13px;
}
.welcome2{
    position: relative;
    margin-top:  12px;
    text-shadow:4px 2px 22.5px #000;
    transition-property: transform, color, letter-spacing;
    transition-duration: .25s;
    transition-timing-function: linear;
    margin-bottom:  -15px;
}

.welcome:hover{
    letter-spacing: 23px;
    transform: scale(1.25);
    color:#00ffb7;
}

.welcome2:hover{
    letter-spacing: 5px;
    transform: scale(1.25);
    color:#00ffb7;
}



.indexcontact
{
    position: relative;
    display: inline-block;
    width: 50px;
    height:50px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 10px;
    transition-property: transform, background;
    transition-duration: .1s;
    transition-timing-function: linear;
    border-radius: 100%;

}

/*thanks to http://www.digitalskydesign.com/how-to-make-an-entire-div-a-link-using-css/ for showing me how to do this */
.indexcontact a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;


}
.indexcontacttop
{
    margin:0 auto;
    width:150px;
    height:150px;
    background: url(../img/selfie4.jpg);
    margin-top: 20px;
    margin-bottom: 32px;
    border-radius:100%;

}

#indexcontactg{
    background: url(../img/githubbw2.png);
}

#indexcontactm{
    background: url(../img/mail2bw2.png);
}

#indexcontactf{
    background: url(../img/fbbw.png);
}


#indexcontactg:hover{
    background: url(../img/github.png);
    transform: scale(1.1);
}

#indexcontactm:hover{
    background: url(../img/mail2.png);
    transform: scale(1.1);
}

#indexcontactf:hover{
    background: url(../img/fb.png);
    transform: scale(1.1);
}



.h3i{
    color:#222;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:-58px;
}




/*end index.html styles*/

/*Gallery styles*/
.gh1{
    padding-top: 60px;
    padding-bottom: 30px;


}


/*end gallery*/

/*FINAL BIO & RESUME (BIO4) STYLES*/
.bh1{
    font-size: 50pt;
    padding-top: 60px;
    padding-bottom: 44px;


}


.navb{
    padding: 20px 0 50px 0;
}


/*END FINAL BIO (BIO4)*/

/*Bio 2*/

.bio2{
    background:url(../img/wood_text/good6.jpg);
    /*background:linear-gradient(black,rgba(0,0,0,.0));*/
}

.bio-sec1{
    position:relative;
}

.temp{

color:black;
    transition: transform .5s;  
}
.temp:hover{
    color:royalblue;
    transform: scale(1.5) translatex(1500px);

}

.temp2{

color:grey;
    transition: transform 1s;  
}
.temp2:hover{
    color:crimson;
    transform: scale(1.5) rotate(-360deg);

}



.bio-container{
    width:1000px;    
    background:url(../img/whitediamond.png) fixed;
    border-radius:104PX;
    margin: 10% auto;
    padding: 10% 10% 10% 10%;
}
        


/*end bio 2*/



















/*style tile*/

.stp{    
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size:16px;
}

.sth1{   
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: maroon;
    text-align: left;
}
.sth2{
    margin: 0px 1px;
    padding-left: 1px;
    padding-top:20px;
    padding-bottom: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    font-weight: bold;
    color:black;
    line-height: 30px;
    text-transform: none;
}



.sth3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 10px;
    font-size: 26px;
    margin-left: 0px;
}





.container{
    padding: 2% 5% 1% 5%;
    margin: 10% 30% 5% 30%;
    color:black;
    background-color:maroon;
    background-image:url(../img/white_wall.png);
    
    box-shadow: -15px 20px 15px 10px rgba(0, 0, 0, .3);
}
.container p{
    color:gray ;

}


.sec1{
    margin:1% 1% 1% 1%;
    padding:5% 5% 5% 5%;
    background-color: white;
}




.style-tile{
    background-color:maroon;
    /*background-image: url(../img/footer_lodyas.png);*/
    background-image: url(../img/wood4.jpg);
}



section {
    margin: 20px 10px 20px 10px;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
    border: 5px solid #fff;
    float: left;
    margin: 0 10px;
    height: 75px;
    width: 75px;
}

.color-1{
    background:black;


}

.color-2{
    background:grey;
    

}

.color-3{
    background:maroon;
    

}



.pattern-1{
    background-image: url(../img/wood4.jpg);
}

.pattern-2{
    background-image: url(../img/white_wall.png);
}

.pattern-3{
    background-image:url(../img/escheresque_ste.png);
}




/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}


/*END STYLE TILE*/






/*Pseudo Classes*/

a:link{

    text-decoration: none;
}

a:visited{

}



.sta:link{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color:red;
    text-decoration: none;
}

.sta:visited{
    color:red;
}

.sta:visited.selected{
    color:red;
    background: black;
}
.sta:hover{
    
    color:maroon;
}

.sta:active{
    color:red;
}

/*end PSEUDO CLASSES*/














/*media queries*/

/*global queries*/
@media (max-width:1555px){

    .indexcontainer{
        width:70%;

    }    


    nav ul li a {
      margin-right:10px;
      margin-left:10px;
    }
}



@media (max-width:1201px){
    h1{   

        font-size: 90px;
        font-weight: 300;

    }
    
    h2{
        font-size: 36px;
    
    }
    
    nav ul li a {
        margin-right:5px;
        margin-left:5px;
    }
    
    .indexcontainer{
        width:80%;
    }    

}


@media (max-width:981px){
    
#indexcontactg{
    background: url(../img/github.png);
}

#indexcontactm{
    background: url(../img/mail2.png);
}

#indexcontactf{
    background: url(../img/fb.png);
}

    
     h1{   

        font-size: 80px;
        font-weight: 300;

    }
    
    h2{
        font-size: 32px;
    
    }
    
    .h3i{
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .indexcontainer{
        width:85%;
        margin: 8% auto 3% auto; 
        border-radius: 125px;
    }    

    nav ul li a {
        margin-right:2px;
        margin-left:2px;

    }
    


}


@media (max-width:768px){
    
    nav ul li a {
    font-size: 20px;
    }

    .welcome{
    padding-left: 5px;
    padding-top: 90px;
    }

     h1{   

        font-size: 60px;
        font-weight: 300;

    }
    
    h2{
        font-size: 28px;
    
    }
    
    h3{
    font-size: 22px;
    }
       

}

@media (max-width:480px){
    .indexcontainer{
    border-radius: 100px;
    }
    .welcome{
    padding-top: 90px;
    }
    
    h1,.bh1{   
        font-size: 40px;

    }
    
    h2{
        font-size: 24px;
    
    }

}





    /*style tile media queries*/

    /*range of 558px to 1320px width*/
@media (max-width:1320px) {  
        .container{
            margin: 5% 15% 2% 15%;
        }

}

    /*everything below 559px*/
@media (max-width:558px)  {

    .container{
        margin: 15% 0% 15% 0%;
    }


}
    /*end style tile media queries*/


/*end media queries */