

#block1{
width:740px;
height: 500px;
margin: 0 auto;
padding-left: 32px;
}

#block2{
margin: 0 auto;
}

p{
font-weight: 400;
font-family: 'Lato', sans-serif;
font-size: 16pt;

}


body{
background-color:whitesmoke;
}

#dd{
font-size:70px;
font-weight: 400;
font-family: 'Rokkitt', serif;
margin-top: 4%;
display:block;
text-align: center;

}

h2{
text-align: center;
font-weight: 400;
font-family: 'Lato', sans-serif;
}

#navwrap{
margin: 0 auto;
}

#nav{
text-align: center;
display:block;
height: 80px;
margin-top: 4%;     
opacity: .95;
}


#nav li{
font-weight: 400;
font-family: 'Lato', sans-serif;
font-size:16pt;
margin: 25px;
list-style: none;
}

#nav ul li{
display: inline;


}


#nav ul li:hover{

text-decoration: overline;

}



a:link{


color:black;
text-decoration: none;
transition: color .3s;

}

a:visited{
color:black;
text-decoration: none;

}

a:hover{
color:#34A2FF;

}

#aboutimg{
padding-left: 70px;

opacity: .9;
width: 250px;

-webkit-filter: grayscale(100%);
filter: grayscale(100%);
transition: .5s -webkit-filter linear;

}

#aboutimg:hover{
opacity: 1;
-webkit-filter: grayscale(0%);
}

#selected{
text-decoration: overline;
}


footer{
top:95%;
width: 100%;
position: absolute;
display: block;
font-family: 'Rokkitt', serif;
font-weight: 400;
color: rgba(0,0,0,.6);
text-align: center;
}

hr {

    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

